<!-- This file is placed in the ~/.m2/settings.xml file on the local machine. This provides the
     credentials maven uses when publishing to the dataone repository.
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <server>
        <id>maven.dataone.org</id>
        <username>username</username>
        <!-- default is id_rsa
	      <privateKey></privateKey>
        -->
        <filePermissions>664</filePermissions>
        <directoryPermissions>775</directoryPermissions>
        </server>
    </servers>
</settings>